In [1]:
import pandas as pd
import plotly.express as px
import plotly.io as io

In [2]:
df_grafico1_tabla = pd.read_excel("../data/ICA_esqueleto.xlsx", sheet_name="graf1 expo.rubros.",skipfooter=1,skiprows=1)
df_grafico1_tabla

  Rubros  Octubre 2022e  Octubre 2021*
0  Total           7901           6863
1     PP           2382           1826
2    MOA           2545           2514
3    MOI           2255           1932
4    CyE            719            590

In [3]:
df_grafico1 = df_grafico1_tabla[["Rubros","Octubre 2021*","Octubre 2022e"]].melt(id_vars="Rubros",value_name="Dólares", var_name= "Período")
plot_expo_rubros = px.histogram(df_grafico1[df_grafico1.Rubros != "Total"], x = "Rubros", y = "Dólares",color="Período", barmode="group", template="none")
plot_expo_rubros.update_yaxes(tickformat = ",",title_text='En millones de USD')
plot_expo_rubros.update_layout(separators=",.",font_family='verdana', title_text = "Exportación por rubros económicos. Octubre de 2022 y octubre de 2021",
                  legend=dict(
       yanchor="top", orientation = "h",
       y=1.07,
       xanchor="left", 
       x=0.3))
plot_expo_rubros.data[0].hovertemplate = 'Periodo: Octubre 2021*<br>Rubro: %{x}<br>Dolares: $%{y}<extra></extra>'
plot_expo_rubros.data[1].hovertemplate = 'Periodo: Octubre 2022e<br>Rubro: %{x}<br>Dolares: $%{y}<extra></extra>'
plot_expo_rubros

In [5]:
columnas = ["Rubros","Octubre 2022e", "Octubre 2021*", "Octubre Variación porcentual", "Diez meses 2022e", "Diez meses 2021*", "Diez meses Variación porcentual"]
cuadro5 = pd.read_excel("../data/ICA_esqueleto.xlsx", sheet_name="c5",skipfooter=0,skiprows=4,names=columnas)
cuadro5.head()

,Rubros,Octubre 2022e,Octubre 2021*,Octubre Variación porcentual,Diez meses 2022e,Diez meses 2021*,Diez meses Variación porcentual
0,Total,7901,6863,15.1,75144,65156,15.3
1,Productos primarios (PP),2382,1826,30.4,21116,18738,12.7
2,Animales vivos,1,1,-,23,20,15
3,Pescados y mariscos sin elaborar,115,182,-36.8,1357,1539,-11.8
4,Miel,19,11,72.7,225,199,13.1

In [ ]:
cuadro6 = pd.read_excel("./data/ICA_esqueleto.xlsx", sheet_name="c6",skipfooter=0,skiprows=3)[1:]
cuadro6 = cuadro6.fillna("-")
cuadro6.head()

,Rubro,NCM,Productos principales,Millones de dólares,Variación porcentual 2022*/2021*,Participación porcentual,Principales países de destino
1,Total de exportaciones,-,-,7901,15.1,100,-
2,Total de productos seleccionados,-,-,6019,25.4,76.2,-
3,PP,12019000.0,"Porotos de soja, incluso quebrantados, excluid...",1255,563.5,15.9,"China, Estados Unidos, Rusia, Perú, Chile"
4,MOA,23040010.0,Harina y pellets de de la extracción del aceit...,1063,21.2,13.5,"Viet Nam, Indonesia, Polonia, Italia, Australia"
5,PP,10059010.0,"Maíz en grano, excluido para siembra",594,-35,7.5,"República de Corea, Viet Nam, Perú, Argelia, C..."