In [21]:
import pandas as pd

In [22]:
df_indices_usos = pd.read_excel("../data/indices.xlsx",sheet_name = "usos_var")
df_indices_rubros = pd.read_excel("../data/indices.xlsx",sheet_name = "rubros_var")
df_indices_rubros

,<-Rubros>,<Variación interanual - Precio>,<Variación interanual - Cantidad>,<Variación interanual - Valor>,<Variación acumulada - Precio>,<Variación acumulada - Cantidad>,<Variación acumulada - Valor>
0,Total,14.5,10.5,3.459051,15.3,17.0,-1.4
1,Productos primarios (PP),14.8,6.6,7.860119,12.6,13.1,-0.4
2,Manufacturas de origen agropecuario (MOA),18.9,9.9,8.133378,7.5,18.0,-8.8
3,Manufacturas de origen industrial (MOI),11.8,15.1,-2.783890,18.7,13.3,4.7
4,Combustibles y energía (CyE),3.9,4.4,-0.114279,62.1,47.7,9.8

In [25]:
df_indices_serie= pd.read_excel("../data/indices.xlsx",sheet_name = "serie")
df_indices_serie_variaciones = df_indices_serie[df_indices_serie.columns[2:]].pct_change(12,fill_method=None)
df_indices_serie_variaciones.insert(0,"Año",df_indices_serie.Año)
df_indices_serie_variaciones.insert(1,"Mes",df_indices_serie.Mes)
df_indices_serie_variaciones = df_indices_serie_variaciones.iloc[12:].reset_index(drop = True)
df_indices_serie = df_indices_serie.iloc[12:].reset_index(drop = True)
df_indices_serie

     Año         Mes          xp          xq          mp          mq
0   2021       Enero  166.282290  102.562455  111.712880  184.634888
1   2021     Febrero  171.479132   96.741796  114.543271  174.217384
2   2021       Marzo  173.058980  114.795749  121.282446  235.447729
3   2021       Abril  179.163442  118.979971  123.710604  202.615192
4   2021        Mayo  185.514615  127.495370  128.378193  214.537042
5   2021       Junio  187.191944  129.826589  131.996742  239.547766
6   2021       Julio  188.845469  133.277088  132.816933  230.081758
7   2021      Agosto  188.625264  149.016264  136.219020  225.718555
8   2021  Septiembre  189.164260  138.576708  131.920970  238.399687
9   2021     Octubre  193.205862  123.323772  132.207721  212.122008
10  2021   Noviembre  188.658805  113.998372  134.352763  229.460208
11  2021   Diciembre  192.160421  119.077856  131.388386  252.917785
12  2022       Enero  202.809558   95.249663  129.911759  216.401269
13  2022     Febrero  208.333829  107.782031  138.371529  218.158341
14  2022       Marzo  213.989452  119.468306  139.094016  272.840390
15  2022       Abril  222.924462  129.813765  148.432492  248.605131
16  2022        Mayo  226.978749  126.137166  161.283398  262.045560
17  2022       Junio  227.327548  128.649069  167.253394  277.449309
18  2022       Julio  215.078750  125.900623  170.366370  260.329853
19  2022      Agosto  214.349630  122.086411  157.923758  265.331188
20  2022  Septiembre  211.906187  121.312965  145.738636  256.438959
21  2022     Octubre  205.575329  133.389275  141.406490  229.642699
22  2022   Noviembre  208.606424  117.941634  132.852931  231.378992