In [1]:
import pandas as pd
import plotly.express as px
import plotly.io as io

In [2]:
df_grafico2_tabla = pd.read_excel("./data/ICA_esqueleto.xlsx",sheet_name = "graf2 impo.usos.",skiprows=1)
df_grafico2_tabla = df_grafico2_tabla[df_grafico2_tabla.columns[[0,1,2]]].dropna(axis=0)
df_grafico2_tabla[df_grafico2_tabla.columns[1]] = df_grafico2_tabla[df_grafico2_tabla.columns[1]].astype(int)
df_grafico2_tabla

    Usos  Octubre 2022* Octubre 2021*
0  Total           6074          5247
1     BK            996           869
2     BI           2334          2227
3    CyL            601           393
4    PyA           1231           991
5     BC            676           606
6     VA            202           104
7  Resto             33            57

In [48]:
df_grafico2 = df_grafico2_tabla[["Usos","Octubre 2021*","Octubre 2022*"]].melt(id_vars="Usos",value_name="Dólares",var_name="Período")
plot_impo_usos = px.histogram(df_grafico2[df_grafico2.Usos != "Total"], x = "Usos", y = "Dólares",color="Período", barmode="group", template="none",
                              hover_data =["Período", "Dólares"],
                              labels={
                                     "Usos":"Uso",
                                     "sum of Dólares": "Dólares"
                              })
plot_impo_usos.update_yaxes(tickformat = ",",title_text='En millones de USD')
plot_impo_usos.update_layout(separators=",.",font_family='georgia', title_text = "Importación por usos económicos. Octubre de 2022 y octubre de 2021",
                  legend=dict(
       yanchor="top", orientation = "h",
       y=1.07,
       xanchor="left",
       x=0.3))
plot_impo_usos.update_traces(hovertemplate='Período: %{hover_data[0]} <br>Uso: %{x} <br>Dólares: $%{y}')


io.write_json(plot_impo_usos, file = "../data/impo_usos.json")
plot_impo_usos

In [4]:
#Aclarar que es en millones de USD
cuadro7 = pd.read_excel("./data/ICA_esqueleto.xlsx",sheet_name="c7",skiprows=4)[1:]
cuadro7.head()

,"Usos económicos, grandes categorías económicas (GCE) y agregados especiales",Grandes categorías económicas (GCE) y agregados especiales,Octubre 2022*,Octubre 2021*,"OctubreOctubre, variación porcentual",Diez meses 2022*,Diez meses 2021*,"Diez meses, variación porcentual"
1,Total general,-,6074,5247.0,15.8,70738,51201.0,38.2
2,Bienes de capital (BK),Total,996,869.0,14.6,10510,8057.0,30.4
3,Bienes de capital (BK),"Bienes de capital, excluidos equipos de transp...",853,630.0,35.4,8118,5898.0,37.6
4,Bienes de capital (BK),Computadoras y teléfonos,57,152.0,-62.5,1333,1227.0,8.6
5,Bienes de capital (BK),Equipos de transporte industriales,86,87.0,-1.1,1060,933.0,13.6

In [5]:
cuadro8 = pd.read_excel("./data/ICA_esqueleto.xlsx",sheet_name="c8",skiprows=3)[1:]
cuadro8 = cuadro8.fillna("-")
cuadro8.head()

,Uso económico,NCM,Productos principales,Millones de dólares,Variación porcentual 2022*/2021*,Participación porcentual,Principales países de origen
1,Total de importaciones,-,-,6074.0,15.8,100.0,-
2,Total de productos seleccionados,-,-,1833.0,36.1,30.2,-
3,CyL,27101921.0,Gasóleo (gasoil),225.0,55.3,3.7,"India, Estados Unidos, Países Bajos, Bélgica"
4,BI,31054000.0,"Fosfato monoamónico, incluso mezclado con fosf...",129.0,10.4,2.1,"Marruecos, China, Estados Unidos, Alemania"
5,VA,87032310.0,Vehículos automóviles principalmente para el t...,85.0,45.5,1.4,"Brasil, México, Alemania, Francia, Japón"