In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as io
import numpy as np
import locale
import json

In [15]:
locale.setlocale(locale.LC_ALL, 'es_ES')

'es_ES'

In [16]:
r2_df = pd.read_excel("../data/ICA_esqueleto.xlsx",sheet_name="R2",skiprows=3)
r2_df.fillna("")

,Indicador,Unidad de medida,Exportación,Importación,Saldo,Intercambio
0,Balanza comercial,,,,,
1,Totales Octubre de 2022,Millones de dólares,7901.0,6074.0,1827.0,13975.0
2,Variación serie original respecto a octubre de...,%,15.1,15.8,,15.4
3,Variación serie desestacionalizada respecto a ...,%,7.0,-8.4,,
4,Variación tendencia-ciclo respecto a septiembr...,%,0.3,-2.3,,
5,Indices de precios y cantidades de comercio ex...,,,,,
6,Indices de precios,%,6.4,7.0,,
7,Indices de cantidades,%,8.2,8.3,,
8,Ganancia/pérdida de los términos del intercambio,Millones de dólares,,,,-39.0

In [34]:
header = [np.array(['','Exportación','Exportación','Exportación','Exportación',"Importación","Importación","Importación","Importación","Saldo","Saldo"]), 
np.array(['','2022e','2021*','Variación porcentual igual período año anterior','Variación porcentual acumulado igual período año anterior',
          '2022*',"2021*",'Variación porcentual igual período año anterior','Variación porcentual acumulado igual período año anterior',
          "2022*","2021*"])] 
c1 = pd.read_excel("../data/ICA_esqueleto.xlsx",sheet_name="c 1", skiprows=11)
# c1.columns = header[1]
c1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Total anual,NaN,77934,NaN,NaN,NaN,63184,NaN,NaN,NaN,14751
1,Total diez meses,75144.0,65156,NaN,15.3,70738.0,51201,NaN,38.2,4406.0,13955
2,Enero,5548.0,4912,12.9,12.9,5251.0,3844,36.6,36.6,297.0,1068
3,Febrero,6452.0,4775,35.1,23.9,5634.0,3713,51.7,44.1,818.0,1062
4,Marzo,7354.0,5720,28.6,25.6,7083.0,5320,33.1,39.5,271.0,400
5,Abril,8337.0,6143,35.7,28.5,6883.0,4673,47.3,41.6,1454.0,1470
6,Mayo,8254.0,6813,21.2,26.7,7886.0,5141,53.4,44.3,368.0,1672
7,Junio,8433.0,7010,20.3,25.5,8664.0,5909,46.6,44.8,-231.0,1101
8,Julio,7805.0,7252,7.6,22.4,8289.0,5715,45.0,44.8,-484.0,1536
9,Agosto,7541.0,8099,-6.9,17.7,7837.0,5754,36.2,43.6,-296.0,2345
10,Septiembre,7518.0,7570,-0.7,15.4,7137.0,5886,21.3,40.7,381.0,1685
11,Octubre,7901.0,6863,15.1,15.3,6074.0,5247,15.8,38.2,1827.0,1615
12,Noviembre,NaN,6191,NaN,NaN,NaN,5767,NaN,NaN,NaN,424
13,Diciembre,NaN,6587,NaN,NaN,NaN,6216,NaN,NaN,NaN,371

In [90]:
c1_columnas = ["<"+a+" - "+b+">" for a,b in zip(header[0],header[1])]
c1.columns = c1_columnas

['< - >',
 '<Exportación - 2022e>',
 '<Exportación - 2021*>',
 '<Exportación - Variación porcentual igual período año anterior>',
 '<Exportación - Variación porcentual acumulado igual período año anterior>',
 '<Importación - 2022*>',
 '<Importación - 2021*>',
 '<Importación - Variación porcentual igual período año anterior>',
 '<Importación - Variación porcentual acumulado igual período año anterior>',
 '<Saldo - 2022*>',
 '<Saldo - 2021*>']

In [23]:
c2 = pd.read_excel("../data/ICA_esqueleto.xlsx",sheet_name="c 2",skiprows=5)
# c2.columns = [np.array(["Octubre 2022","Octubre 2022","Octubre 2022","Octubre 2022"]),
#               np.array(["","Valor","Precio","Cantidad"])]


c2_columnas = [np.array(["Octubre 2022"]*4),np.array([" - "]*4),
              np.array(["","Valor","Precio","Cantidad"])]

c2_columnas = ["<"+a+b+c+">" for a,b,c in zip(c2_columnas[0],c2_columnas[1],c2_columnas[2])]
c2.columns = c2_columnas
c2_expo = c2[:5]
c2_impo = c2[6:]
for (c, tipo) in [(c2_expo, 'Rubros'),(c2_impo,'Usos')]:
    c.iloc[0,0] = 'Total'
    c.columns = [f'<-{tipo}>', *c.columns[1:]]

c2_expo

,<-Rubros>,<Octubre 2022 - Valor>,<Octubre 2022 - Precio>,<Octubre 2022 - Cantidad>
0,Total,15.1,6.4,8.161851
1,Productos primarios (PP),30.4,9.1,19.589748
2,Manufacturas de origen agropecuario (MOA),1.2,10.7,-8.540516
3,Manufacturas de origen industrial (MOI),16.7,1.2,15.515746
4,Combustibles y energía (CyE),21.9,6.6,14.821987

In [19]:
balanza = pd.read_csv("../data/SerieHistorica.csv",sep=";",decimal=",")
balanza.index = pd.to_datetime((balanza.Mes.astype(str) + "-"+balanza["Año"].astype(str)))
balanza = balanza["2011":]
balanza

             Año  Mes  Exportaciones  Importaciones  Saldo comercial
2011-01-01  2011    1   5.185118e+09   4.889191e+09     2.959261e+08
2011-02-01  2011    2   5.398017e+09   4.764278e+09     6.337390e+08
2011-03-01  2011    3   6.098102e+09   5.641578e+09     4.565245e+08
2011-04-01  2011    4   7.042866e+09   5.532887e+09     1.509979e+09
2011-05-01  2011    5   7.932871e+09   6.489820e+09     1.443052e+09
...          ...  ...            ...            ...              ...
2022-06-01  2022    6   8.432817e+09   8.664166e+09    -2.313491e+08
2022-07-01  2022    7   7.805299e+09   8.289130e+09    -4.838306e+08
2022-08-01  2022    8   7.541092e+09   7.837023e+09    -2.959315e+08
2022-09-01  2022    9   7.518384e+09   7.137044e+09     3.813408e+08
2022-10-01  2022   10   7.901000e+09   6.073874e+09     1.827126e+09

[142 rows x 5 columns]

In [20]:
new_date = [d.strftime('%b %Y').replace(".","").capitalize() for d in balanza.index]
x = new_date
plot_agregado = go.Figure()
plot_agregado.add_trace(
    go.Scatter(
        x = new_date,
        y = balanza.Exportaciones/1000000,
        name = "Exportaciones",
        hovertemplate="$%{y:,.0f}"
    ))
    
plot_agregado.add_trace(
    go.Scatter(
        x = new_date,
        y = balanza.Importaciones/1000000,
        name = "Importaciones",
        hovertemplate="$%{y:,.0f}"
    )    
)
plot_agregado.add_trace(
    go.Bar(
        x = new_date,
        y = balanza['Saldo comercial']/1000000,
        name = "Saldo",
        hovertemplate="$%{y:,.0f}"
    )    
)
plot_agregado.update_layout(template = "none",separators=",.", title_text = "Exportaciones, importaciones y saldo comercial <BR><sup> En millones de USD",font_family="georgia")
plot_agregado.update_yaxes(tickformat = ",",
    dtick=1000)
plot_agregado.update_xaxes(rangeslider=dict(
            visible=True,
        ),nticks=10
                 )
plot_agregado.update_layout(hovermode="x unified", 
                            # margin ={'b': 2},
                            legend=dict(
       yanchor="top", orientation = "h",
       y=1.16,
       xanchor="left",
       x=0.34))
plot_agregado.update_xaxes(tickangle=90)
# io.write_json(plot_agregado, file = "../data/plot_agregado.json")
plot_agregado